	*{
		box-sizing: border-box;
		font-style: 'Arial';
	}
	body{
		margin:0;
		background-color: #ffe9ef;
	}
	header, footer{
		width: 100%; height: 16vh;
		display: block;
		background-color: #FFFFFF;
		position:  sticky;
		overflow: hidden;
	}

	header>h2{
		position: sticky;
		margin-left: 20px;
		padding: 27px;
	}

	header a{
		float: right;
		text-decoration: none; 
		font-size: 1.2em;
		color: #000000;
		margin-top: 20px; margin-right: 20px;
		padding: 10px;
		position: sticky;
	}

	header a:hover{
		color: #e2ae6c;
	}

	header img{
		max-width: 80px;
		margin-left: 30px;
		float: left;
	}
	/*homepage*/
	.main{
		display: flex;
		flex-wrap: wrap;
		flex:100%;
		height: 100vh;
	}
	.button{
		background-color: #624a59;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		margin: auto;
	}

	.pics{
		border: dashed 2px;
		border-radius: 20px 20px;
		height: 346px;
		/*width: 60%;*/
		display: inline;
		transition: transform 0.4s ease-out;
	}

	.pics:hover{
		transform: scaleX(-1);
		transition-delay: 0.2s;
		/*(-6deg);*/
	}
	

	.button:hover {
		color: #e2ae6c;
	}

	.big_box{
		width: 500px; height: 100%;
		text-align: center;

	}
	

	.box{
		width: 100px; height: 40px;
		background-color: pink;
		text-align: center;
		margin-left: auto; margin-right: auto;
		margin-top: 140px;
	}

	.box a{
		text-decoration: none;

	}
	h1, p{
		text-align: center;
		color: #2a4158;
	}

	.outer{
		margin-left: auto; margin-right: auto;
		display: grid;
		grid-gap: 10px;
		grid-template-areas: 
		"one" "two"
		"three" "four";	
	}

	/*footer{
		position: fixed;
		bottom: 0;
		height: 8vh;*/
	}

	@media screen and (max-width: 800px){
		header{
			padding-top: 1.5em;
		}
		.main{
			padding-top: 1.5em;
		}
		.outer{
			padding-top: 1.5em;
		}
		.big_box{
			display: grid;
			grid-template-rows: 1fr 1fr;
			align-items: center;
			justify-content: center;
			width: 80%;
			height: 70%;
		}
		.pics{
			width: 200px;
			height: 300px;
		}
	}
	/*about page*/
	.about_main{
		display: grid;
		grid-template-areas: 
		"one two";
	}
	.about_body{
		display: flex;
		flex-wrap: wrap;
		flex:100%;
		height: 100vh;
	}
	.about_content{
		display: block;
		width: 800px; height: 400px;
		font-size: 1.3em;
		margin-top: 35px;
		text-align: center;
		order:1;
		margin: 10px;
	}
	.box{
		width: 200px; height: 300px;
		border:1px solid;
	}
	.about_contact{
		text-align: center;
		margin-left: auto; margin-right: auto;
		display: block;
	}
/*service page*/
	.service_main{
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-areas: 
		"choice custom body"
	}
	.service_head>h1{
		background-color: white;
		font-size: 1.5em;
		margin-top: 20px;
	}
	.service_content>h1{
		background-color: white;
		font-size: 1.5em;
		margin-top: 20px;
	}
	.service_back{
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
	.service_back>img{
		width: 200px; height: 300px;
		border: 3px solid #000;
		border-radius: 15px;
		padding: 5px;
		margin: 10px;
		transition: all 0.5s ease-out;
	}
	.service_back>img:hover{
		transform: scale(1.05);
	}
	.service_theme{
		font-size: 1.5em;
		font-weight: bold;
	}
	.service_custom{
		justify-content: center;
		align-content: center;
		border: 2px solid black;
		height: 100vh;
		margin-top: 20px;
		z-index: 20;
	}
	.service_drop{
		width: 600px; height: 700px;
		margin-top: 30px; 
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
		position: relative;
	}
	.bigbox{

		width: 600px; height: 700px;
		background-color: white;
		background-size: 100% 100%;
		margin-top: 30px; 
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
		display: block;
		border: 1px solid black;
		text-align: center;
		vertical-align: center;

	}
	.name{
		margin-left: auto;
		margin-right: auto;
		display: block;
		/*width: 350px;*/
		border: none;
		font-size: 1.2em;
		z-index: 10;
	}

	.name[placeholder]:empty:before, .bigbox h2[placeholder]:empty:before{
		content: attr(placeholder);
		color: #gray;
	}
	.typeIn{
		width: 250px; height: 300px;
		display: block;
		align-content: center;
		text-align: center;
		margin: 30px auto;
		position: absolute;
	}
	.typeIn input, button{
		display: block;
		align-content: center;
		text-align: center;
	}
	}
	#saveButton:hover{
		color: #686868;
		background-color: #f1b5cb;
		border-radius: 15px;
	}
	#loadButton:hover{
		color: #686868;
		background-color: #f1b5cb;
		border-radius: 15px;
	}
	#clearButton: 	hover{
		color: #686868;
		background-color: #f1b5cb;
		border-radius: 15px;	
	}
	aside{
		align-content: center;
	}