/*the body*/
#container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #B6ABBB;
	display: grid;
	/*grid-column-gap: 10px;*/
	grid-template-columns: repeat(auto-fit, 100%);
	grid-template-areas: 
	"header header header"
	"one two three"
	"headerer headerer headerer"
	"four four four";
	box-sizing: border-box;
	/*margin: auto;*/
}

/*headers*/
h1 {
	text-align: center;
}

/*Card templates*/
.choices {
	display: flex;
	width: 70%;
	justify-content: space-around;
	margin: auto;
}

.card {
	width: 280px;
	height: 360px;
	padding: 2rem 1rem;
	position: relative;
	display: flex;
	align-items: flex-end;
	box-shadow: 0 10px 10px grey;
	transition: 0.5s ease-in-out;
}

.card:hover {
	transform: translateY(20px);
}

.card:before {
	content: ""; /*just for spacing*/
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, #ffe9ef, #624a59);
	z-index: 2;
	transform: 0.5s all;
	opacity: 0;
}

.card:hover:before {
	opacity: 1;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

.card .text {
	position: relative;
	z-index: 3;
	color: white;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s all;
}

.card:hover .text {
	opacity: 1;
	transform: translateY(0);
}

.card .text h2 {
	margin: 0;
}

.card .text p {
	letter-spacing: 1px;
	font-size: 15px;
	margin-top: 8px;
	margin-bottom: 20px;
}

.card .text .button {
	text-decoration: none;
	padding: 0.5rem 1rem;
	background-color: white;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.4s ease-in-out;
}

.card .text .button:hover {
	box-shadow: 0 10px 10px grey;
}

/*footer*/
footer {
	position: fixed;
	bottom: 0;
}

/*mobile view*/
@media screen and (max-width: 860px){
			#container {
				/*grid-template-rows: repeat(auto-fit, 100%);*/
				grid-template-areas: 
				"header"
				"one"
				"two"
				"three"
				"headerer"
				"four";
				/*box-sizing: border-box;*/
			}
		}